

.map-container {
  margin:auto;
  width: 98%;
  aspect-ratio: 587 / 460;
  border: 2px solid var(--dark-sea-green);
  margin-top: 30px;
  cursor:pointer;
}

@media screen and (min-width: 875px) {
  .map-container {
    width: 80%;
  }
}

.map-note {
  font-size: 0.9em;
  line-height: 1.2em;
  font-style: italic;
  color: #666;
  margin-bottom: 0.5em;
  margin-top: 0.3em;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 875px) {
  .map-note {
    width: 80%;
  }
}

.reset-map {
  bottom: .5em;
  left: .5em;
  font-size: 0.8rem;
}

.ol-control {
  cursor: pointer;
}

.ol-control button:hover{
  background-color: white;
  cursor: pointer;
}

.reset-map button {
  max-width: auto;
  width: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.district-selectors {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.district-dropdown {
  outline: none;
  cursor: pointer;
  color: black;

  border: 1px solid #666;
  border-radius: 3px;
  padding: 11px 10px;

  padding-right: 30px;
  font-size: 1em;
  box-shadow: 2px 2px 3px #aaa;
  text-transform: capitalize;
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjEuNDEgNC42NyAyLjQ4IDMuMTggMy41NCA0LjY3IDEuNDEgNC42NyIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIzLjU0IDUuMzMgMi40OCA2LjgyIDEuNDEgNS4zMyAzLjU0IDUuMzMiLz48L3N2Zz4=) no-repeat 95% 50%;
  background-color: #eeeeee;
}

select:focus {
  outline: 2px solid black;
}

.district-scroll {
  padding: 11px 15px;
  font-size: 1em;
  font-weight: bold;
  color: black;
  background-color: #eeeeee;
  border: 1px solid #666;
  border-radius: 3px;
  box-shadow: 2px 2px 3px #aaa;
  cursor: pointer;
}

.none-option {
  color: #666;
  font-weight: 100;
  text-transform: capitalize;
}