.race-results {
  padding: 0.5em;
  margin-bottom: 1em;
}

.race-title {
  font-style: italic;
  margin-bottom: 0.5em;
}

table {
  width: 100%;
}

thead > .result-row {
  border-left: 5px solid white;
}

.result-row {
  display: flex;
  font-size: 0.8rem;
  min-height: 2rem;
  height: auto;
  border: 0px;
  align-items: center;
}

.result_row > th {
  color: #000000;
  font-weight: normal;
}

.winner-icon {
  background-color: #666;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: 0 8px;
  margin-right: 5px;
  margin-left: -4px;
}

.result-row-name {
  flex: 1 1 auto;
  min-width: 0;
  display: flex;
  align-items: center;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-right: 0.5em;
  padding-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.result-row-percent {
  flex: 0 0 4em;
  display: flex;
  align-items: center;
  margin-right: 0.5em;
  justify-content: flex-end;
}

.result-row-bar {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

/* On very narrow screens hide the bar chart to prevent overflow */
@media screen and (max-width: 420px) {
  .result-row-bar {
    display: none;
  }
}

.results-source {
  font-style: italic;
  font-size: 0.8rem;
  margin-top: 1em;
  margin-left: 0.3em;
}
