.state-race-container {
  border: 1px solid #666;
  padding: 20px;
  padding-top:0;
  box-shadow: 2px 2px 3px #aaa;
}

.chamber-container {
  visibility:hidden;
  max-height:0;
  overflow:hidden;
  
}

.visible {
  visibility:visible;
  max-height:none;
}

.chamber-selector {
  display: flex;
  justify-content: center;

}

.selector {
  margin: 5px;
  margin-bottom: 20px;
  border: 1px solid #666;
  padding: 10px 1.5em;
  cursor: pointer;
  box-shadow: 2px 2px 3px #aaa;
  border-radius: 3px;
  background-color: #e5e3e2;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align:center;

}

.selector:active {
  box-shadow: none;
}

.active {
  background-color: var(--wheat);
  font-weight: 800;
}