
.header {
  background-color: var(--dark-sea-green);
  padding: 15px;
  padding-top: 40px;
  display:block;
  background-image: url('/election-guide-2026/flag.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  /* background-attachment: fixed; */
  /* background-position:left bottom; */
  position:relative;

}

.header a {
  text-decoration: none;
}

.header-interior {
  width: 100%;
  max-width: 1280px;
  margin: auto;

}

.header-center{
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  margin: auto;
  position:relative;
}

h1 h2 {
  margin: 0;
  margin-top: 0px !important;
}

.site-title {
  color: white;
  font-size: 3rem;
  margin: 0;
  margin-top: 0px !important;
  text-shadow: 0 3px 6px rgba(0,0,0, 0.25);
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

.button {
  font-family: "Roboto Slab", serif;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-shadow: 0 3px 6px rgba(0,0,0, 0.25);
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  margin: 15px;
  text-align: center;
  display:inline-block;
  background-color: #4575b4;
  box-shadow: 0 3px 6px rgba(0,0,0, 0.3);

}

.button:hover {
  box-shadow: none;
}



.header-buttons {
  color: #FFF;
  margin-top: 15px;
}

.subtitle {
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-shadow: 0 3px 6px rgba(0,0,0, 0.25);
  padding-right: 20px;
  padding-left: 20px;
}

.election-guide-title{
  text-align:center;
  margin: 0;

}

.election-guide-title a {
  text-align:center;
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-size: 3.5rem;
  text-shadow: 0 3px 6px rgba(0,0,0, 0.25);
}

.election-guide-title a:hover {
  text-decoration: underline;
}

.update {
  color: #fff;
  text-align: center;
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

/* .share-buttons {
  margin-top: 10px;
  left: 5px;
  bottom: 5px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

.share-buttons * {
  margin: 0;
  padding: 0;
}

.share-label {
  font-size: 0.65rem;
  font-style:oblique;
  color: black;
  padding: 0;
  margin: 0;
  margin-bottom: 2px;
  align-self: flex-end;
}

@media screen and (min-width: 575px) {
  .share-buttons {
    flex-direction: column;
    position: fixed;
  }
} */

.share-buttons {

}

.a2a_kit {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.share-label {
  font-size: 0.75em;
  color: white;
  text-align: center;
  margin: 0;
  margin-bottom: 3px;
  margin-top: 10px;
  font-weight: bold;
}

@media screen and (min-width: 1000px) {
  .share-buttons {
    position: fixed;
    bottom: 10px;
    left: 10px;
  }
  
  .a2a_kit {
    flex-direction: column;
    gap: 3px;

  }

  .share-label {
    color: black;
  }
}

