.guide-intro {
  padding-top: 1rem;
  font-size: 1.2rem;
}

.guide-intro p {
  font-weight: 400;
  color: var(--black);
}

.return-to {
  float:right;
  text-align: right;
  margin-bottom: 3em;
  margin-top: 1em;
} 

.election-day-note {
  margin: 15px;
  border: 1px solid #666;
  font-size: 1rem;
  padding: 10px;
  text-align: left;
  background-color: var(--wheat);
  box-shadow: 2px 2px 3px #aaa;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}




